
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Book Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= path === '/admin/admin-product' ? 'active' : '' %>" href="/admin/admin-product">Admin Product</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
